<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>MaitenancePage</title>
  </head>
  <body>
    <h1>Sorry we are closed</h1>
    <p> The site is currently on maintenance, we will be back soon</p>

    {{> footer}}
  </body>
</html>
